.footer{
    background: #fff;
    padding: 25px 40px;
    text-align: center;
    font-family: 'Graphik LCG', Arial, Helvetica, sans-serif;
}

.footer__wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.footer__wrapper:first-of-type {
    border-bottom: 1px solid #000;
    padding: 0 0 25px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}


.footer__logo {
    width: 155px;
}

.footer__column {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer__column-title {
    color: #36333f;
    font-size: 20px;
    font-weight: 700;
}

.footer__column-title_phone {
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0;
}


.footer__link {
  color: #36333f;
  text-decoration: none;  
  transition: all .2s;
  font-size: 14px;
  padding: 5px 0;
}

.footer__link_phone {
    font-size: 20px;
    font-weight: 600;
    padding: 0;
}

.footer__link:hover {
    color: #4cc7e9;
}

.footer__link_phone:hover {
    color: #36333f; 
}



.footer__copyright {
    color: #36333f;
    text-align: left;
    font-size: 14px;
    margin: 12px 0 0 0;
}




@media screen and (max-width: 690px) {
    .footer {
        padding: 30px;
    }

    .footer__column_four {
        display: none;
    }


}




@media screen and (max-width: 500px) {
    .footer {
        padding: 20px;
    }
    .footer__column_three {
        display: none;
    }
}
















