.intro {
    padding: 40px 0 0 0;
}

.intro__text {
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0;
}

.intro__title {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .intro {
        padding: 24px 0 0 0;
    }

    .intro__text {
        margin: 20px 0;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        padding: 16px 0 0 0;
    }
}